.container {
  width: 100%;
  height: 100%;
}


textarea {
  border: 0;
  width: 100%;
  height:100%;
  box-sizing: border-box;
}


.main-button {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}
